DJANGO_SETTINGS_MODULE=config.settings.dev

# Required in production
SECRET_KEY=
ALLOWED_HOSTS=zaza.io,www.zaza.io

# Database
DB_NAME=zaza_db
DB_USER=zaza_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
